<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
</head>
<body>
<div>
    <nav>
        <ul>
            <li>
                        
            </li>
            <li>
                                    
            </li>
        </ul>
    </nav>
    <article>
        @RenderBody()
    </article>
</div>
</body>
</html>